In [5]:
#soru 1 : Değişkenlere atanmış değerlerin veri tipleri arasında dönüşüm yapma işlemleri.
x= 5
y= "10"
z = 3.14
v= "46.4"
print(x, y,z, v)


x_to_float = float(x)
y_to_int= int(y)
z_to_int = int(z)
v_to_float = float(v)
print(x_to_float, y_to_int, z_to_int, v_to_float)

5 10 3.14 46.4
5.0 10 3 46.4

In [9]:
 #soru 2: İsimlerde oluşan üç değişkene yaş değerleri atanması ve karşılaştırma yapılması.
jesus = 25
fırat = 30
vildan = 20

is_jesus_older_than_vildan =  jesus > vildan
are_jesus_and_fırat_same_age = jesus == fırat
are_all_younger_than_50 = (jesus < 50) and (fırat < 50) and (vildan < 50)

print(is_jesus_older_than_vildan, are_jesus_and_fırat_same_age , are_all_younger_than_50)

True False True

In [7]:
#soru 3: Kullanıcıdan iki değer alıp işlemler yapmak.
x = float(input("Birinci sayıyı girin: "))
y = int(input("İkinci sayıyı girin: "))

# İşlemler
toplam = x + y
fark = x - y
carpim = x * y
bolum = x / y if y != 0 else "Sıfıra bölünemez"

print(toplam)
print(fark)
print(carpim)
print(bolum)

Birinci sayıyı girin: 7.8
İkinci sayıyı girin: 21
28.8
-13.2
163.79999999999998
0.37142857142857144

In [9]:
#soru 4: Kullanıcıdan isim, yaş, şehir ve meslek bilgileri alıp yazdırmak.
isim = input("İsminiz nedir? ")
yas = input("Yaşınız nedir? ")
sehir = input("Hangi şehirde yaşıyorsunuz? ")
meslek = input("Mesleğiniz nedir? ")

print(f"İsim: {isim}, Yaş: {yas}, Şehir: {sehir}, Meslek: {meslek}")

İsminiz nedir? ali
Yaşınız nedir? 34
Hangi şehirde yaşıyorsunuz? adana
Mesleğiniz nedir? işçi
İsim: ali, Yaş: 34, Şehir: adana, Meslek: işçi

In [11]:
#soru 5: "Hi-Kod Veri Bilimi Atölyesi" ifadesini değişkene tanımlayıp işlemler yapmak
ifade = "Hi-Kod Veri Bilimi Atölyesi"

# Her kelimeyi seçmek
hi_kod = ifade[0:6]
veri = ifade[7:11]
bilimi = ifade[12:18]
atolyesi = ifade[19:]

# Büyük harf ve küçük harf işlemleri
buyuk_harf_ifade = ifade.upper()
kucuk_harf_ifade = ifade.lower()

print(hi_kod, veri, bilimi, atolyesi)
print(buyuk_harf_ifade)
print(kucuk_harf_ifade)

sayilar = "0123456789"

# Çift ve tek sayıları seçme
cift_sayilar = sayilar[::2]  # 02468
tek_sayilar = sayilar[1::2]  # 13579

print("Çift sayılar:", cift_sayilar)
print("Tek sayılar:", tek_sayilar)

Hi-Kod Veri Bilimi Atölyesi
HI-KOD VERI BILIMI ATÖLYESI
hi-kod veri bilimi atölyesi
Çift sayılar: 02468
Tek sayılar: 13579